<%- include('../partials/header') %>

<div class="container">
  <div class="card">
    <img
      class="card-img-top"
      src="<%= userInfo.avatar %>"
      alt="avatar"
      id="showImg"
    />
    <div class="card-body">
      <h5 class="prof-card-title"><%= userInfo.name %></h5>
      <p class="show-card-text">Skin Type: <%= userInfo.skinType %></p> 
      <p class="show-card-text">Goals: <%= userInfo.goal %></p>
      <p class="show-card-text">Bio: <%= userInfo.bio %></p>
      <p class="show-card-text">
        Collection: <% user.favorites.forEach(p => { %>
        <a href="/products/<%= p._id %>"><%= p.name %></a><br />
        <% }) %><br />
      </p>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
