<%- include('../partials/header', user) %>


<div class='prod-container'>
  <div class="add-product">
  <h3 class="prod-title-index">Product Library</h3>
</div>
<form class="search" action="/products/new" method="GET">
  <h4>Search</h4>
  <input type="search" name="search">
</form>
<br>
<div class="overflow-auto" style="height: 450px; overflow-y: scroll">
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Product Name:</th>
        <th scope="col">Description:</th>
        <th scope="col">Cost:</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <% products.forEach(function(p) { %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.description %></td>
        <td><%= p.cost %></td>
        <td><a href="/products/<%= p._id %>">Details</a></td>
      </tr>
      <% }); %>
    </div>
    </div>
  
  


<%- include('../partials/footer') %>