<%- include('../partials/header', user) %>
<div class="container">
  <div class="card">
    <h4 class="card-title1"><%= product.name %></h4>
    <div class="overflow-auto" id="ingredScroll">
    <p class="card-text">
      <b>Description:</b>
      <%= product.description %>
    </p>
    <p class="card-text">
      <b>Main Ingredients:</b>
      <%= product.mainIngredients %>
    </p>
</div>
    <p class="card-text-comments"><b>Comments:</b></p>
    <div class="overflow-auto" id="prodScroll">
      <% product.comments.forEach(function(p) { %>
      <div>"<%= p.text %>"</div>
      <% }) %>
      <div></div>
    </div>

    <br />
    <form method="POST" action="/products/<%= product._id %>/comments">
      <textarea type="text" name="text" class="commentInput"></textarea>
      <div></div>
      <div>
        <button type="submit" class="btn btn-primary" id="commentBtn">
          Add Comment
        </button>
      </div>
    </form>
    <br>
    <form action="/products/<%= product._id %>/favs" method="POST">
      <input type="text" hidden name="name" value="<%=product.name %>" />
      <button class="favBtn">Add To Collection</button>
    </form>
    <br>
    <div class="prodBack"><a href="/products">Back</a></div>
  </div>
</div>

<%- include('../partials/footer') %>
